@import url('https://fonts.googleapis.com/css2?family=Orelega+One&display=swap');

body {
    font-family: 'Orelega One', cursive;
    background-color: 	#ffccc;
    text-align: center;
    color: #daa520;
    font-size: 30px;
}